# Miscellaneous
.DS_Store
__scratch.js
/sslCert
.crt
.key
server.csr

# Logs
*.log
npm-debug.log*
license-log.json

# Dependencies - NPM
node_modules

# Environment Config

# Environment Credentials
*.env
!.example.env
.eslintrc

# Databases, Stores
/data