# Miscellaneous
.DS_Store
__scratch.js

# Logs
*.log
npm-debug.log*

# Dependencies - NPM
node_modules

# Build Files
/build*
/flow-typed*

# Environment Config

# Environment Credentials
*.env
!.example.env
.eslintrc

# Databases, Stores
/data